<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soft.admin.dao.IHouseDao">

	<insert id="addHouse" parameterType="House">
		<![CDATA[
			insert into house
				values(null,#{hotel_id},#{house_title},#{house_price})
		]]>
	</insert>

	<delete id="delHouse" parameterType="int">
		<![CDATA[
			delete from house where house_id=#{house_id}
		]]>
	</delete>

	<delete id="delHouses" parameterType="int">
		<![CDATA[
			delete from house where house_id in 
		]]>
		<foreach collection="array" item="house_ids"  open="(" separator="," close=")">
			#{house_ids}
		</foreach>
	</delete>

	<update id="updateHouse" parameterType="House">
		<![CDATA[
			UPDATE house
		]]>
		<set>
			<if test="house_title!=null and house_title!=''">
			<![CDATA[
				house_title = #{house_title},
			]]>
			</if>
			<if test="house_price!=0">
			<![CDATA[
				house_price = #{house_price}
			]]>
			</if>
		</set>
		<![CDATA[
			where house_id = #{house_id}
		]]>
	</update>

	<select id="getHouse" parameterType="House" resultType="House">
		<![CDATA[
			SELECT h.*,ht.hotel_title FROM house h join hotel ht on h.hotel_id=ht.hotel_id
		]]>
		<where>
			<if test="house_id!=0">
			<![CDATA[
				house_id = #{house_id}
			]]>
			</if>
		</where>
	</select>

	<select id="listHouses" parameterType="House" resultType="House">
		<![CDATA[
			SELECT * FROM (
			SELECT h.*,ht.hotel_title FROM house h join hotel ht on h.hotel_id=ht.hotel_id
		]]>
		<where>
			<if test="house_id!=0">
			<![CDATA[
				house_id = #{house_id}
			]]>
			</if>
			<if test="house_title!=null and house_title!=''">
			<![CDATA[
				and house_title like '%${house_title}%'
			]]>
			</if>
			<if test="hotel_id!=0">
			<![CDATA[
				and h.hotel_id = #{hotel_id}
			]]>
			</if>
			<if test="hotel_title!=null and hotel_title!=''">
			<![CDATA[
				and ht.hotel_title like '%${hotel_title}%'
			]]>
			</if>
			<if test="house_price1!=null and house_price1!=''">
			<![CDATA[
				and house_price >= ${house_price1}
			]]>
			</if>
			<if test="house_price2!=null and house_price2!=''">
			<![CDATA[
				and house_price <= ${house_price2}
			]]>
			</if>
		</where>
		<![CDATA[
			order by house_id asc) t
		]]>
		<if test="start!=-1">
		<![CDATA[
			Limit ${start},${limit}
		]]>
		</if>
	</select>

	<select id="listHousesCount" parameterType="House" resultType="int">
		<![CDATA[
			SELECT count(*) FROM house h join hotel ht on h.hotel_id=ht.hotel_id
		]]>
		<where>
			<if test="house_id!=0">
			<![CDATA[
				house_id = #{house_id}
			]]>
			</if>
			<if test="house_title!=null and house_title!=''">
			<![CDATA[
				and house_title like '%${house_title}%'
			]]>
			</if>
			<if test="hotel_id!=0">
			<![CDATA[
				and h.hotel_id = #{hotel_id}
			]]>
			</if>
			<if test="hotel_title!=null and hotel_title!=''">
			<![CDATA[
				and ht.hotel_title like '%${hotel_title}%'
			]]>
			</if>
			<if test="house_price1!=null and house_price1!=''">
			<![CDATA[
				and house_price >= ${house_price1}
			]]>
			</if>
			<if test="house_price2!=null and house_price2!=''">
			<![CDATA[
				and house_price <= ${house_price2}
			]]>
			</if>
		</where>
	</select>

</mapper>
