@charset "utf-8";
/* CSS Document */
html,body{
	margin:0px;
	padding:0px;
	height:100%;
}
/*头部样式*/
.top{ background-color: #093469; height:70px; width:100%;overflow:hidden}
.top .logo{ float:left; padding-left:20px;}
.top .top_info{ float:right; margin-top:30px;line-height:40px; height:40px; padding-right:10px; color: white;}
.top .top_info a{ color: white;}
.top .top_info a:hover{ color: red;}